networks:
  app-network:
    driver: bridge

services:

  app-redis:
    image: redis/redis-stack-server:latest
    restart: always
    ports:
      - ${PORT_REDIS}:6379
    environment:
      - REDIS_ARGS=--requirepass ${REDIS_PASSWORD}
    volumes:
      - ./redis:/data
    networks:
      - app-network

  app-db:
    image: postgres:latest
    restart: always
    ports:
      - ${PORT_DB}:5432
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_SCHEMA}
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USERNAME} -d ${POSTGRES_SCHEMA}"]
      interval: 5s
      timeout: 5s
      retries: 5
  
#  app-api:
#    image: ghcr.io/cardboards-box/manga-api/api:latest
#    restart: always
#    ports:
#      - ${PORT_API}:8080
#    environment:
#      - Database:ConnectionString=User ID=${POSTGRES_USERNAME};Password=${POSTGRES_PASSWORD};Host=app-db;Database=${POSTGRES_SCHEMA};
#      - Redis:Connection=app-redis,password=${REDIS_PASSWORD}
#    networks:
#      - app-network
#    depends_on:
#      - app-db
#      - app-redis
